<app-diagram-editor
  [model]="selectedModel"
  (nodeHover)="showDetails($event)"
  (nodeSelected)="showDetails($event)"
  (modelChanged)="onModelChanged($event)">
</app-diagram-editor>
      
<div class="card card-shadow top-left">
  <h5 class="card-header">Zoom Level: {{ selectedModelTitle }}</h5>
  <div class="card-body">
    <div class="form-group">
      <label for="layers">Level: </label>
      <select class="form-control" id="layers" (change)="onChangeModel($event.target.value)">
        <option *ngFor="let model of models" value={{model}}>
          {{model}}
        </option>
      </select>
    </div>
  </div>
</div>

<div class="card card-shadow top-right" *ngIf="node">
  <h5 class="card-header">Node Details</h5>
  <div class="card-body">  
    <div class="form-group">
      <form #form="ngForm" (ngSubmit)="onCommitDetails()">
        <div><label>Name: </label> <span> {{node.data.text}}</span></div>
        <div><label>CPU: </label> <span> {{node.key}} Cores</span></div>
        <div><label>RAM: </label> <span> {{node.location.x.toFixed(2) * 1000}} MB</span></div>
        <div><label>Linked: </label> <span> {{node.linksConnected.count}}</span></div>
      </form>
    </div>
  </div>
</div>